<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- MVC注解驱动 -->
	<mvc:annotation-driven />

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/resoucre.properties" />

	<!-- 引用dubbo服务 -->
	<!--扫描控制器之前先扫描dubbo注解，否则会报无法注入错误-->
	<dubbo:application name="keymaoshop-web"/>
	<dubbo:registry protocol="zookeeper" address="192.168.27.101:2181,192.168.27.102:2182,192.168.184.27:2183" />

	<dubbo:reference interface="com.keymaoshop.sso.service.RegisterService" id="registerService"/>
	<dubbo:reference interface="com.keymaoshop.sso.service.LoginService" id="loginService"/>

	<mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
	<mvc:resources mapping="/images/**" location="/images/"></mvc:resources>
	<mvc:resources mapping="/js/**" location="/js/"></mvc:resources>

	<context:component-scan base-package="com.keymao.sso.controller" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


</beans>